# Phase A - Collecting the Data

For more info see: [BBC-DataSet](https://github.com/LiorNeg/DSWFinalProject/tree/master/dataSet/bbc)

Connecting and downloading the dataSet

In [1]:
import urllib.request, urllib.parse, urllib.error
import os
url = 'http://mlg.ucd.ie/files/datasets/bbc-fulltext.zip'
directory = 'dataSet'
filename = 'dataSet/bbc-fulltext.zip'
if not os.path.exists(directory):
    os.makedirs(directory)
urllib.request.urlretrieve(url, filename)

('dataSet/bbc-fulltext.zip', <http.client.HTTPMessage at 0x7f12b0b39cf8>)

Extracting the data into 'dataSet' directory

In [2]:
import zipfile
zip_ref = zipfile.ZipFile(filename, 'r')
zip_ref.extractall(directory)
zip_ref.close()
if os.path.exists(filename):
    os.remove(filename)

Preprocessing:
* Creating a "label to content" mapping

In [3]:
import csv
import codecs
import pandas as pd

dataMapPath = 'dataSet/data-mapping.csv'
with open(dataMapPath, 'w') as csvfile:
    fieldNames = ['Label', 'Content']
    writer = csv.DictWriter(csvfile, fieldnames=fieldNames)
    writer.writeheader()
    dataDir = 'dataSet/bbc'
    if os.path.exists(dataDir): 
        for d in os.listdir(dataDir):
            subdir = dataDir + '/' + d
            if not os.path.isdir(subdir):
                continue
            for file in os.listdir(subdir):
                filepath = subdir + '/' + file
                fd = codecs.open(filepath, 'r', encoding='utf-8', errors='ignore')
                content = fd.read()
                writer.writerow({'Label': d, 'Content': content})
    dataMap = pd.read_csv(dataMapPath)

In [4]:
dataMap.head(5)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Label</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>business</td>
      <td>Executive trio leave Aer Lingus\n\nThree senio...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>business</td>
      <td>G7 backs Africa debt relief plan\n\nG7 finance...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>business</td>
      <td>Madagascar completes currency switch\n\nMadaga...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>business</td>
      <td>US company admits Benin bribery\n\nA US defenc...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>business</td>
      <td>Mixed reaction to Man Utd offer\n\nShares in M...</td>
    </tr>
  </tbody>
</table>
</div>