# Phase A - Collecting the Data

For more info see: [BBC-DataSet](https://github.com/LiorNeg/DSWFinalProject/tree/master/dataSet/bbc)

Connecting and downloading the dataSet

In [1]:
import urllib.request, urllib.parse, urllib.error
import os
url = 'http://mlg.ucd.ie/files/datasets/bbc-fulltext.zip'
directory = 'dataSet'
filename = 'dataSet/bbc-fulltext.zip'
if not os.path.exists(directory):
    os.makedirs(directory)
urllib.request.urlretrieve(url, filename)

('dataSet/bbc-fulltext.zip', <http.client.HTTPMessage at 0x7fa6a0250cf8>)

Extracting the data into 'dataSet' directory

In [2]:
import zipfile
zip_ref = zipfile.ZipFile(filename, 'r')
zip_ref.extractall(directory)
zip_ref.close()
if os.path.exists(filename):
    os.remove(filename)

Preprocessing:
* Creating a "label to content" mapping

In [14]:
import csv
import codecs
import pandas as pd

dataMapPath = 'dataSet/data-mapping.csv'
with open(dataMapPath, 'w', newline='') as csvfile:
    fieldNames = ['Label', 'Content', 'Label_Num']
    writer = csv.DictWriter(csvfile, fieldnames=fieldNames)
    writer.writeheader()
    dataDir = 'dataSet/bbc'
    if os.path.exists(dataDir): 
        c = -1
        for d in os.listdir(dataDir):
            subdir = dataDir + '/' + d
            if not os.path.isdir(subdir):
                continue
            c += 1
            for file in os.listdir(subdir):
                filepath = subdir + '/' + file
                fd = codecs.open(filepath, 'r', encoding='utf-8', errors='ignore')
                content = fd.read()
                cleanContent = content.replace("\n\n", "")
                writer.writerow({'Label': d, 'Content': cleanContent, 'Label_Num': c})
    dataMap = pd.read_csv(dataMapPath)

In [15]:
dataMap.head(5)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Label</th>
      <th>Content</th>
      <th>Label_Num</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>business</td>
      <td>Executive trio leave Aer LingusThree senior ex...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>business</td>
      <td>G7 backs Africa debt relief planG7 finance min...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>business</td>
      <td>Madagascar completes currency switchMadagascar...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>business</td>
      <td>US company admits Benin briberyA US defence an...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>business</td>
      <td>Mixed reaction to Man Utd offerShares in Manch...</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>